* {box-sizing:border-box}

.container {
  width: 100%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.python {width: 80%; background-color: black;}
.C {width: 90%; background-color: black;}
.SQL {width: 60%; background-color: black;}
.GIT {width: 80%; background-color: black;}
.HTML {width: 60%; background-color: black;}



img{
  border-radius: 10%
  width:30%;
  heigt : auto;

}

.smaller-image {
  width: 10%;
}
/*------ ABOUT ME-------*/

.ABOUT_ME{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{

	font-size: 36px;
	font-weight:600 ;
	color: #fff;
}
p{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top:5% ;
	display: flex;
	justify-content: space-between;
}

.Introduction:hover{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}
/*------ WORK ------*/
.WORK{
	width: 80%;
	margin: auto;
	padding-top: 50px;
}
/*------ EDUCATION ------*/
.EDUCATION{
	color: #222;
	width: 80%;
	margin: auto;

	background-size: cover;
	text-align: center;
	padding-top: 50px;
}
